body{
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    border: 1px solid red;
    width: 10px;
    height: 10px;
}